{% extends "base.html" %} {% block title %}Application Part 1{%endblock %}

{% block content %}

<br />

<div class = "text-right">
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/SubTaskPersonalData'"class="btn btn-outline-primary">Documents: Personal Data</button>
</div>

<br />

<div class = "text-right">
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/SubTaskAcademicRessources'"class="btn btn-outline-primary">Documents: Academic Ressources</button>
</div>


<h1> Application Part 1</h1>

<br />


<div>
  {% for date in user.dates %}
  {% if date.page_name == 'Part 1' %}  
    <span class="label label-info">Deadline: {{ date.date }}</span>
    <div>
      <button type="button" onClick="location.href='/deleteDatePart1/{{ date.id }}'" class="btn btn-danger" >Delete</button>
    </div>
  {% endif %}
  {% endfor %}
</div>

<form action="/save-datePart1" method = "POST" >
    <label for ="date">Deadline:</label>
    <input type = "date" id = "date" name="date"> </input>
    <br />
    <div align = "center">
        <button type = "submit" class = "btn btn-primary">Save Date</button>
    </div>
</form>

<form action="/addTaskPart1" method="POST">
  <div>
    <label for="title"> Add a personal Task</label>
    <input type="text" name="title" placeholder="Enter task">
    <input type="text" name="description" placeholder="Enter description">
    <br>
    <div align = "center">
    <button type="add" class="btn btn-primary">Add Task</button>
    </div>
  </div>

  {% for task in user.tasks %}
  {% if task.page_name == 'Part 1' %}
  <div class ="Panel Panel-default">
      <div class ="panel-Überschrift">
        <h3 class = "Panel-title"> {{ task.title }}</h3>
      </div>
      <div class ="Panel-body"> {{ task.description }}</div>

  </div>
  <div>
      {% if task.completed == false %}
        <span class="badge badge-warning">Not completed</span>
      {% else %}
        <span class="badge badge-success">Completed</span>
      {% endif %}
  </div>
  <div>
      {% if task.completed == false %}
      <button type="button" onClick="location.href='/completeTaskPart1/{{ task.id }}'" class="btn btn-success">Done</button>
      {% else %}
      <button type="button" onClick="location.href='/completeTaskPart1/{{ task.id }}'" class="btn btn-danger">Undone</button>
      {% endif %}
      {% if task.title != 'First Task' and task.title != 'Second Task' and task.title != 'Third Task' and task.title != 'Fourth Task' and task.title != 'Fifth Task' %}
      <button type="button" onClick="location.href='/deleteTaskPart1/{{ task.id }}'" class="btn btn-danger" >Delete</button>
      {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</form>

<h4> Add a Note: </h4>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    {% if note.page_name == 'Part 1' %}
    <li class="list-group-item">
      {{ note.text }}
      <form action= "{{ url_for('views.delete_notePart1', note_id = note.id) }}" method="POST">
        <button type="submit" class="close" aria-label="Delete">
          <span aria-hidden="true">&times;</span>
        </button>
      </form>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

<form action ="/addNotePart1" method = "POST" >
    <textarea name = "notePart1" id = "notePart1" class = "form-control"> </textarea>
    <br />
    <div align = "center">
    <button type = "submit" class = "btn btn-primary">Add a Note!</button>
    </div>
</form>



{% endblock %}

