{% extends "base.html" %} {% block title %}Info{%endblock %}

{% block content %}

<!-- Overall Styling in this .html: Bootstrap (2023) with respective documentation on their page -->

<div class = "text-center">
<h1 class="display-4 text-muted">Info</h1>
</div>

<h2>Apply, Explore, Succeed!</h2>

<p>We understand your need for a web application that can help you effectively manage and plan your upcoming semester abroad. Based on your specific situation as a student at HWR Berlin in the midst of the application process for a partner university in New York City, we are here to address your challenges and significantly simplify the handling of all your tasks. What does the application process entail?</p>

<p>The application process involves uploading various documents (First Part, Second Part, and any additional required documents) to the college's portal. Once you successfully submit all the necessary documents within the specified timeframe, the college will issue the DS-2019, which is a crucial document for your visa and therefore for participating in the exchange visitor program. Additionally, finding suitable accommodation in New York will present its own set of challenges.</p>

<p>Our focus is on providing you with a tool that allows you to stay organized throughout the planning process, keep track of important tasks and deadlines, and reduce the feeling of overwhelm. We want you to feel more organized, efficient, and in control of your planning process.</p>

<div class = "text-center">
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/sign_up'"class="btn btn-outline-primary">Sign Up Now!</button>
</div>

{% endblock %}

