{% extends "base.html" %} {% block title %}Personal Data{%endblock %}

{% block content %}

<!-- Overall Styling in this .html: Bootstrap (2023) with respective documentation on their page -->
<!-- patrickloeber (2020, 13. Dezember) -->
<!-- OpenAI (2023) -->

<br> 

<h1 class="display-4 text-muted">Personal Data</h1>

<br>
  
<div class="row">
  <div class="col-md-6">
    {% for task in user.tasks %}
      {% if task.page_name == 'Personal Data' %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            {% if task.completed == false %}
              <span class="badge badge-warning">Not completed</span>
            {% else %}
              <span class="badge badge-success">Completed</span>
            {% endif %}
            <div>
              {% if task.completed == false %}
                <button type="button" onClick="location.href='/completeTaskPersonalData/{{ task.id }}'" class="btn btn-success">Done</button>
              {% else %}
                <button type="button" onClick="location.href='/completeTaskPersonalData/{{ task.id }}'" class="btn btn-secondary">Undo</button>
              {% endif %}
              {% if task.title != 'First Document' and task.title != 'Second Document' and task.title != 'Third Document' %}
                <button type="button" onClick="location.href='/deleteTaskPersonalData/{{ task.id }}'" class="btn btn-danger">Delete</button>
              {% endif %}
            </div>
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
  </div>
</div>



<form action="/addTaskPersonalData" method="POST">
<div class="form-group">
  <label for="title">Add a Personal Task</label>
  <div class="input-group">
    <input type="text" class="form-control" name="title" placeholder="Enter task">
    <input type="text" class="form-control" name="description" placeholder="Enter description">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary ml-2">Add Task</button>
    </div>
  </div>
</div>
</form>

<br> 

{% endblock %}

